<div class = "thrips">
    <mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Thrips</mat-card-title>
        <mat-card-subtitle>Genus: Thysanoptera</mat-card-subtitle>
        <mat-card-subtitle>Size: tiny - around 5 mm long</mat-card-subtitle>
    </mat-card-header>
    <img class="pest" [src]="image" alt="">
    <mat-card-content>
        <h3>Infestation: </h3>
        <ul>
            <li>Damage is easy to see</li>
            <li>Look for small metallic black specks on the top of leaves</li>
        </ul>
        <h3>How to get rid of spider mites:</h3>
        <ul>
            <li>Spray with water gentely</li>
            <li>Use neem oil (natural extract) - longe lasting solution!</li>
        </ul>
        <h3>Make your own homemade remedies / insectial soap</h3>
        <ul>
            <li>Mix 1 tablespoon into 1 quart of water</li>
        </ul>
    </mat-card-content>
  </mat-card>
  </div>