<div class = "spidermites">
    <mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>Spider Mites</mat-card-title>
        <mat-card-subtitle>Genus: Tetranychus urticae</mat-card-subtitle>
        <mat-card-subtitle>Size: tiny - less than 1 mm long</mat-card-subtitle>
    </mat-card-header>
    <img class="pest" [src]="image" alt="">
    <mat-card-content>
        <h3> Infestation: </h3>
        <ul>
            <li>Look for spider-like webbing</li>
            <li>Take a tissue and wipe gently on the underside leaves</li>
            <li>If it comes back with steaks of Spider Mite blood - you have mites</li>
        </ul>
        <h3>How to get rid of spider mites:</h3>
        <ul>
            <li>Spray with water gentely</li>
            <li>Use neem oil (natural extract) - longe lasting solution! </li>
        </ul>
        <h3>Make your own homemade remedies / insectial soap:</h3>
        <ul>
            <li>Mix 1 tablespoon into 1 quart of water</li>
        </ul>
        
    </mat-card-content>
  </mat-card>
  </div>