<div class = "whiteflies">
    <mat-card class="mat-elevation-z5">
    <mat-card-header>
        <mat-card-title>White flies</mat-card-title>
        <mat-card-subtitle>Genus: Hemipterans</mat-card-subtitle>
        <mat-card-subtitle>Size: tiny - around 1 mm long</mat-card-subtitle>
    </mat-card-header>
    <img class="pest" [src]="image" alt="">
    <mat-card-content>
        <h3>Infestation:</h3>
        <ul>
            <li>Look like small white moths (easy to spot!)</li>
        </ul>
        <h3>How to get rid of spider mites:</h3>
        <ul>
            <li>Use beneficial bugs as ladybugy, green lacewings or delphatus catalinea</li>
        </ul>
        <h3>Make your own homemade remedies / insectial soap:</h3>
        <ul>
            <li>Mix 1 tablespoon into 1 quart of water</li>
        </ul>

        <p> Infestation: 
            - look like small white moths (easy to spot!)</p>
        <p> How to get rid of spider mites:
            - use beneficial bugs as ladybugy, green lacewings or delphatus catalinea </p>
        <p> Make your own homemade remedies / insectial soap
            - mix 1 tablespoon into 1 quart of water
        </p>
    </mat-card-content>
  </mat-card>
  </div>